@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 14px/24px 'PT Sans Narrow', Arial, Tahoma, sans-serif;
    text-transform: uppercase;
    background: url("../images/dest/main_bg.jpg") no-repeat 50% 0;
    background-size: cover;
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #000;
    text-decoration: none;
}
input, button {
    outline: none;
}
.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    flex-grow: 1;
    width: 100%;

    &--50 {
        @extend .col;
        width: 50%;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}