.btn {
    display   : inline-block;
    background: $black;
    color     : $white;
    text-align: center;
    height    : 43px;
    border    : 2px solid $black;
    padding   : 7px 12px 6px;
    transition: 0.3s;

    &:hover {
        background: $white;
        color     : $black;
    }

    &--small {
        @extend .btn;
        width: 43px;
    }

    &--medium {
        @extend .btn;
        min-width: 78px;
    }

    &--large {
        @extend .btn;
        min-width: 140px;
    }

    &--fullWidth {
        @extend .btn;
        width: 100%;
    }
}

.input {

    background-repeat: no-repeat;
    border           : 2px solid $black;
    width            : 100%;
    height           : 43px;
    display          : inline-block;
    vertical-align   : top;
    padding          : 12px 40px 12px 15px;

    &--login {
        @extend .input;
        background-image: url(../images/dest/login_modal.png);

        background         : $input_bg;
        background-position: calc(100% - 13px) 50%;


    }

    &--password {
        @extend .input;
        background-image: url("../images/dest/password_modal.png");
        background      : $input_bg;
    }

}

.form {

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include screen (1200) {
            flex-wrap: wrap;
        }
    }

    &__column {
        width: calc(50% - 10px);
    }
}


input {

    &[type="checkbox"] {
        display: none;


        & + label {
            position: relative;
            padding-left: 32px;
            padding-top: 2px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                border: 2px solid $black;
                background-color: $input_bg;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }

        &:checked{

            & + label {

                &::before{
                    background-image: url(../images/dest/cross.png);
                    background-size: 12px;
                }
            }
        }
    }
}